/* Reset some default styles */
body, h1, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a black background to the entire page */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

/* Center the header title */
header {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 20px 0;
}

/* Style the header title */
header h1 {
    font-size: 40px;
}

/* Style the button container */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto;
    max-width: 800px; /* Adjust as needed */
}

/* Style the buttons */
button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 40px; /* Even spacing between buttons */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}

/* ICON */

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.top-left-icon {
  width: 50px; 
  height: auto; 
}

/* FOOTER */

footer {
    background: white;
    bottom: 0;
    color: black;
    display: flex;
    font-size: smaller;
    padding: 0.6rem;
    position: fixed;
    width: 100%;
}
footer>p {
    flex: 1;
    margin: 0;
    padding: 0;
  }
  
  footer address {
    text-align: right;
    flex: 1;
    margin-right: 1rem;
  }
  
  footer address a,
  footer address a:visited {
    color: black;
    opacity: 0.6;
    padding: 0.3rem;
    text-decoration: none;
  }
  
  footer address i {
    font-size: 1rem;
  }
  
  footer address a:hover {
    opacity: 1;
    text-decoration: underline;
  }


.float-left {
    float: left;
    margin-right: 20px; /* Adjust spacing between the image and text */
}


.image-text-container {
    background-color: white; /* White background behind the text */
    border-radius: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: black; /* Text color set to black */
    padding: 10px; /* Padding inside the box for spacing */
    display: inline-block; /* Allows setting width */
    width: calc(100% - 340px); /* Adjust based on image width and margin */
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow for depth */
}

.text-box p {
    color: black; /* Ensures text color is black */
}

.pd-desc {
  background-color: purple;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
  margin-bottom: 100px;
}

.yc-desc {
  background-color: yellow;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: px;
  display: inline-block;
  width: auto;
  margin-bottom: 100px;
}

.yc-desc img {
  float: right;
  margin-right: 40px;
}