/* General styles */
body, h1, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
header {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 40px;
}

.tally-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
    font-size: 30px;
}

/* Button container and styles */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

/* styles for navigation buttons in vote-styles.css */
button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 5px; /* Even spacing between buttons */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 400px;
}

#vote-button1 {
    background-color: purple;
}

#vote-button2 {
    background-color: yellow;
}

.tally {
    text-align: center;
}

/* ICON */

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.top-left-icon {
    width: 50px; 
    height: auto; 
}

/* FOOTER */

footer {
    background: white;
    bottom: 0;
    color: black;
    display: flex;
    font-size: smaller;
    padding: 0.6rem;
    position: fixed;
    width: 100%;
}
footer>p {
    flex: 1;
    margin: 0;
    padding: 0;
}
footer address {
    text-align: right;
    flex: 1;
    margin-right: 1rem;
}
footer address a,
footer address a:visited {
    color: black;
    opacity: 0.6;
    padding: 0.3rem;
    text-decoration: none;
}
footer address i {
    font-size: 1rem;
}
footer address a:hover {
    opacity: 1;
    text-decoration: underline;
}
