/* General styles */
body, h1, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
header {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 40px;
}

/* Button container and styles */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* styles for navigation buttons in vote-styles.css */
button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 5px; /* Even spacing between buttons */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 400px;
}